Repository anonklub/anonklub, pull requests merged in 2024-03, with the labels that each got.

#378 refactor: rewrite CLI with Rust
  .tool-versions
  Cargo.lock
  Cargo.toml
  pkgs/cli/Cargo.lock
  pkgs/cli/Cargo.toml
  pkgs/cli/README.md
  pkgs/cli/bin/main.rs
  pkgs/cli/bin/opts.rs
  pkgs/cli/content.txt
  pkgs/cli/justfile
  pkgs/cli/package.json
  pkgs/cli/src/Cli/index.ts
  pkgs/cli/src/Cli/interface.ts
  pkgs/cli/src/Prompt/index.ts
  pkgs/cli/src/Prompt/interface.ts
  pkgs/cli/src/get_anonset.rs
  pkgs/cli/src/get_anonset/beacon.rs
  pkgs/cli/src/get_anonset/ens_dao.rs
  pkgs/cli/src/get_anonset/erc20.rs
  pkgs/cli/src/get_anonset/eth.rs
  pkgs/cli/src/get_anonset/nft.rs
  pkgs/cli/src/get_anonset/punks.rs
  pkgs/cli/src/index.ts
  pkgs/cli/src/lib.rs
  pkgs/cli/src/prove.rs
  pkgs/cli/src/query_client.rs
  pkgs/cli/src/types.ts
  pkgs/cli/src/verify.rs
  pkgs/cli/tests/cli.rs
  pkgs/cli/tsconfig.compile.json
  pkgs/cli/tsconfig.json
Labels: enhancement

#394 fix(query-api): handle dune out of credits error
  .env.example
  .lintstagedrc.json
  .prettierignore
  .tool-versions
  query-api/src/anonset.controller.ts
  query-api/src/anonset.module.ts
  query-api/src/anonset.service.ts
  query-api/src/decorators/handle-dune-credits-error.ts
  query-api/src/errors/out-of-dune-credits.exception.ts
  query-api/src/errors/out-of-dune-credits.filter.ts
  query-api/src/index.ts
  query-api/src/repositories/bigquery-client.ts
Labels: bug, enhancement

#397 fix(ui): handle & render dune out of credits error
  ui/src/app/query/beacon/page.tsx
  ui/src/lib/get-data.ts
Labels: bug, enhancement, :lipstick: UI

#415 feat(akli): generate merkle root
  pkgs/cli/README.md
  pkgs/cli/bin/main.rs
  pkgs/cli/bin/opts.rs
  pkgs/cli/tests/merkle.rs
  pkgs/merkle-tree-wasm/src/lib.rs
  pkgs/merkle-tree-wasm/src/merkle_tree_wasm.rs
Labels: enhancement, :keyboard: CLI

#417 refactor: use `anyhow` to handle errors
  Cargo.lock
  package.json
  pkgs/cli/Cargo.toml
  pkgs/cli/bin/main.rs
  pkgs/cli/src/lib.rs
  pkgs/merkle-tree-wasm/Cargo.toml
  pkgs/merkle-tree-wasm/src/lib.rs
  pkgs/merkle-tree-wasm/src/merkle_tree_wasm.rs
  turbo.json
Labels: enhancement, :test_tube: test, :keyboard: CLI

#403 ECDSA Halo2Wrong Circuit
  .gitignore
  Cargo.lock
  Cargo.toml
  pkgs/circuits/halo2wrong-ecdsa/Cargo.toml
  pkgs/circuits/halo2wrong-ecdsa/README.md
  pkgs/circuits/halo2wrong-ecdsa/src/circuit.rs
  pkgs/circuits/halo2wrong-ecdsa/src/ecdsa.rs
  pkgs/circuits/halo2wrong-ecdsa/src/lib.rs
  pnpm-lock.yaml
Labels: :electric_plug: circuits

#414 Rust Test Coverage
  .github/workflows/static-analysis.yml
  .github/workflows/test-coverage.yaml
  .github/workflows/test.yml
  .gitignore
  README.md
  package.json
  pnpm-lock.yaml
  ui/src/components/SubmitProofRequest.tsx
  ui/src/hooks/useGoBackOnClickOutside.ts
  ui/src/hooks/useMerkleTreeWorker.ts
  ui/src/hooks/useProofRequest.ts
  ui/src/hooks/useWorker.ts
Labels: ci/cd/ct, :technologist: dx, :test_tube: test, needs rebase

#418 chore: improve lint-staged rules
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
Labels: enhancement, :technologist: dx
